/*!
 * Selv-hostede fonter — Inter og Source Serif 4, begge lisensiert under
 * SIL Open Font License 1.1, hentet som variabel-font-filer (latin-
 * subsett, dekker norske æ/ø/å) fra Google Fonts.
 * Selv-hostet av personvernhensyn, i tråd med praksis ellers i norsk
 * offentlig sektor (unngår at besøkendes IP sendes til Google ved lasting).
 */
@font-face{
  font-family:'Inter';
  font-style:normal;
  font-weight:400 700;
  font-display:swap;
  src:url('../fonts/Inter-variable-latin.woff2') format('woff2-variations'), url('../fonts/Inter-variable-latin.woff2') format('woff2');
}
@font-face{
  font-family:'Source Serif 4';
  font-style:normal;
  font-weight:500 600;
  font-display:swap;
  src:url('../fonts/SourceSerif4-variable-latin.woff2') format('woff2-variations'), url('../fonts/SourceSerif4-variable-latin.woff2') format('woff2');
}
